{% extends "base.html" %}

{% block content %}

    <h1>My events</h1>
    <div class="row">
        <div class="col-sm-4">
            <h4>Please add event search parameters:</h4>
            <form action="" method="post">
                <div class="form-group">
                    {{ form.hidden_tag() }}
                
                        {{ form.place_start.label(class_='col-form-label') }}
                        {{ form.place_start(size=60,class_='form-control') }}
                        
                        {% for error in form.place_start.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}

                        {{ form.place_end.label(class_='col-form-label') }}
                        {{ form.place_end(size=60,class_='form-control') }}
                        {% for error in form.place_end.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}

                        {{ form.interest.label(class_='col-form-label') }}
                        {{ form.interest(size=60,class_='form-control') }}
                        {% for error in form.interest.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}

                        {{ form.dt_start.label(class_='col-form-label') }}
                        {{ form.dt_start(size=60,class_='form-control') }}
                        {% for error in form.dt_start.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}

                        {{ form.dt_end.label(class_='col-form-label') }}
                        {{ form.dt_end(size=60,class_='form-control') }}
                        {% for error in form.dt_end.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}     
                    <br/>
                    {{ form.submit(class_='btn btn-success') }}
                </div>
            </form>
        </div>  
        <div class="col-sm-8">
            <div id="loading">
                <img src= "/static/images/loading.gif" style="width:150px; height:auto;">
            </div>
            <div id="google-map">
                {% if message %}
                    <h4>{{message}}</h4>
                {% endif %}
                {% if sndmap %}
                    {{sndmap.js}}
                    {{sndmap.html}}
                {% endif %}

                <!-- show initial map of the US on first load -->
                {% if defaultmap %}
                    {{defaultmap.js}}
                    {{defaultmap.html}}
                {% endif %}
            </div>
        </div>
 
    </div>  
    
{% endblock %}